div(class="post__header")
  div(class="post__channel")
    a(href="#", class="post__channel-link")=`r/${post.subreddit.name}`
  span .
  span Posted by
  div(class="post__author")
    a(href="#", class="post__author-link")=`u/${post.user.username}`
  span(class="post__time") 2 days ago
div(class="post__title")
  a(href=`/post/${post._id}`, class="post__title-link")=post.title
if post.message
  div(class="post__desc")
    p(class="post__desc-text")=post.message
div(class="post__bar")
  div(class="post__vote-section" data-postid=post._id)
    if user
      i(class=`fas fa-arrow-up btn--upvote ${post.upvotes.includes(user._id) ? 'red' : ''}`)
      p(class="post__vote-text")=post.votes
      i(class=`fas fa-arrow-down btn--downvote ${post.downvotes.includes(user._id) ? 'red' : ''}`)
    else 
      i(class=`fas fa-arrow-up btn--upvote`)
      p(class="post__vote-text")=post.votes
      i(class=`fas fa-arrow-down btn--downvote`)

  div(class="post__comments")
    a(href="#", class="post__comments-link")=`${post.comments ? post.comments.length : 0} `
      span comments